
.typeGraphWrapper {
    display: grid;
    grid-template-areas: "h h" "c i";
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 10fr 2fr;
    grid-gap: 5px;
}

.typeGraphContent {
    grid-area: c;
    background-color: lightgrey;
    padding: 5px;
}

.typeGraphLabel {
    grid-area: h;
    background-color: lightgrey;
    padding: 5px;
}
.buttonArea {
    padding-bottom: 5px;
}

.errorMessage {
    color: red;
}

.selectedType {
    color: black;
    font-weight: bold;
    background: gray;
}

div[disabled] {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

.table2 {
    border-spacing: 0px;
    width: 500px;

    /* table-layout: fixed; */
}

.table2 th {
    /* font-size: 14px; */
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    /* padding: 10px 8px; */
}

.table2 tr:hover td {
    color: #234b9c;
}

.table2 tr:nth-child(odd) {
    background-color: #9298969b;
}

.table2 td {
    border-bottom: 1px solid #ccc;
    color: black;
    /* padding: 9px 8px; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.table2 td.but {
    width: 180px;
    border-bottom: 1px solid #ccc;
    color: black;
    /* padding: 9px 8px; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
