.d_tree_container {
    list-style: none;
    padding: 0 0 0 10px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.d_tree_node {
    display: inline;
    /* padding: 0; */
}

.d_tree_node a {
    text-decoration: none;
    color: darkblue;
}

.d_tree_node a.activeLink {
    color: green;
}

.d_tree_node:hover {
    cursor: pointer;
}

.d_tree_toggler {
    display: inline;
    font-size: x-small;
    padding: 0;
}

.d_tree_not_toggler {
    display: inline;
    /* transform: rotate(90deg); */
}